body {
  margin: 0;
  background: black;
}

svg {
  display: block;
}

button {
  position: fixed;
  bottom: 0;
  right: 0;

  padding: 2rem;
}

#app {
  width: 100svw;
  height: 100svh;
}

#menu {
  position: fixed;
  top: 0;
  color: white;
  width: 100svw;
  height: 100svh;
}
