body {
  margin: 0;
  background: black;
}

svg {
  display: block;
}

button {
}

#app {
  width: 100svw;
  height: 100svh;
}

#menu {
  position: fixed;
  top: 0;
  color: white;
  width: 100svw;
  height: 100svh;
  background: gray;

  display: flex;
  align-items: center;
  justify-content: center;
}
